@import "tailwindcss";

:root {
  --brand: #cc6600;
  --brand-light: #e67700;
  --brand-dark: #b35900;
}

/* Safe area for notched phones */
body {
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}
